<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to edit_staff_path(@staff), class: "navbar-brand" do %>
    <% end %>
  </div>
</nav>

<section class="container my-4">
  <div class="row">
    <div class="col-8">
      <%= render "form" %>
    </div>

    <div class="col">
      <div class="border-bottom">
        <p><strong>Meta</strong></p>
        <p>
          <i class="fas fa-clock mr-2"></i>
         <%= @staff.updated_at %>
        </p>
        <p>
          <i class="fas fa-ticket-alt mr-2"></i>
        <%= @staff.id %>
        </p>
      </div>
    </div>
  </div>
</section>