<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to category_index_path, class: "navbar-brand mr-auto" do %>
      Categories
    <% end %>
    <%= link_to new_category_path, class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> Add Category
    <% end %>
  </div>
</nav>

<section class="container my-4">
  <table class="table border bg-white">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ideas</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Feature Requests</th>
        <td>6</td>
        <td>2 months ago</td>
      </tr>
      <tr>
        <th scope="row">Bugs</th>
        <td>10</td>
        <td>4 months ago</td>
      </tr>
    </tbody>
  </table>
</section>
