<p><strong>Categories</strong></p>
<% @categories.each do |c| %>
<form>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">
      Feature Requestssss
      <% c.name %>
    </label>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck2">
    <label class="form-check-label" for="exampleCheck2">
      Bugs
    </label>
  </div>
</form>
<% end %>
