<p><strong>Categories</strong></p>
<% @categories.each do |form| %>
<form>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input">
    <label class="form-check-label">
      <%= form.name %>
      <%#= form.check_box :name %>
    </label>
  </div>
</form>
<% end %>

<%#= fields_for "project[invoice_attributes][]", invoice, :index => nil do |form| %>
  <%#= form.check_box :paid %>
  ...
<%# end %>

<!-- check_box(object_name, method, options = {}, checked_value = "1", unchecked_value = "0") -->