<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link text-dark active" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="true">Feedback</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" id="customers-tab" data-toggle="tab" href="#customers" role="tab" aria-controls="customers" aria-selected="false">Customers</a>
  </li>
</ul>

<div class="tab-content bg-white border border-top-0" id="myTabContent">
  <div class="tab-pane fade show active" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
    <div class="p-3 border-bottom d-flex align-items-center">       
    </div>
      <% @customer.each do |c| %>
      <div class="p-3 d-flex align-items-center">
      <div class="bg-success text-white text-center rounded p-1 mr-3"
           style="width:30px;">
        IGM  <%#= c.slice_initials_of_minion %>
        
      </div>
      <p class="mb-0">
        <strong>
           <%= c.name %>
        </strong> 

        <span class="text-muted"><%#= c.updated_at %></span><br>
           <%= c.feedback %>
      </p>
      </div>
      <% end %>
    </div>
  <% @customer.each do |c| %>
  <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
    <div class="p-3 border-bottom d-flex align-items-center">        
      <div class="bg-secondary text-white text-center rounded p-1 mr-3"
           style="width:30px;">
        LM <%# c.initials_getting_minion %>
      </div>
      <p class="mb-0">
        <strong> <%= c.name %></strong>
      </p>
    </div>
  </div>
  <% end %>
</div>
 
