<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link text-dark active" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="true">Feedback</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" id="customers-tab" data-toggle="tab" href="#customers" role="tab" aria-controls="customers" aria-selected="false">Customers</a>
  </li>
</ul>

<div class="tab-content bg-white border border-top-0" id="myTabContent">
  <div class="tab-pane fade show active" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
    <div class="p-3 border-bottom d-flex align-items-center">
      <div class="bg-secondary text-white text-center rounded p-1 mr-3"
           style="width:30px;">
        LM
      </div>
      <p class="mb-0">
        <strong>Lucy Miller</strong> <span class="text-muted">2 hours ago</span><br>
        Sometimes a user will submit feedback, however there isn't enough...
      </p>
    </div>
    <div class="p-3 d-flex align-items-center">
      <div class="bg-success text-white text-center rounded p-1 mr-3"
           style="width:30px;">
        HI
      </div>
      <p class="mb-0">
        <strong>Henry Itondo</strong> <span class="text-muted">2 days ago</span><br>
        Would be great if we could speak with a customer after they have submitted...
      </p>
    </div>
  </div>

  <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
    <div class="p-3 border-bottom d-flex align-items-center">
      <div class="bg-secondary text-white text-center rounded p-1 mr-3"
           style="width:30px;">
        LM
      </div>
      <p class="mb-0">
        <strong>Lucy Miller</strong>
      </p>
    </div>
    <div class="p-3 d-flex align-items-center">
      <div class="bg-success text-white text-center rounded p-1 mr-3"
           style="width:30px;">
        HI
      </div>
      <p class="mb-0">
        <strong>Henry Itondo</strong>
      </p>
    </div>
  </div>
</div>
