<div class="card">
  <form>
    <div class="card-body">
      <% if page == "new" %>
        <div class="form-group">
          <label for="select1">Initial status</label>
          <select class="custom-select" id="select1">
            <option value="1" selected>PLANNED</option>
            <option value="2">RELEASE</option>
            <option value="3">BUILDING</option>
          </select>
        </div>
      <% end %>
      <div class="form-group">
        <label for="select2">Assigned to</label>
        <select class="custom-select" id="select2">
          <option value="1" selected>Kendasha Wood</option>
          <option value="2">John Doe</option>
          <option value="3">Jane Doe</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Description</label>
        <textarea id="exampleTextarea" class="form-control"></textarea>
      </div>
    </div>
    <div class="card-footer bg-white">
      <div class="text-right">
        <%= link_to "Cancel", ideas_path, class: "btn btn-light" %>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
