<div class="card">
  <div class="card-body">
    <% if page == "new" %>
    <div class="form-group">
      <label for="select1">Initial status</label>
      <select class="custom-select" id="select1">
        <option value="1" selected>PLANNED</option>
        <option value="2">RELEASE</option>
        <option value="3">BUILDING</option>
      </select>
    </div>
    <% end %>
    <div class="form-group">
      <label for="select2">Assigned to</label>
      <select class="custom-select" id="select2">
        <option value="1" selected>Kendasha Wood</option>
        <option value="2">John Doe</option>
        <option value="3">Jane Doe</option>
      </select>
    </div>
    <%= form_for @idea do |f| %>
    <div class="form-group">
      <%= f.label :description, "Description" %>
      <%= f.text_field :description, class: :"form-control" %>
    </div>
  </div>
  <div class="card-footer bg-white">
    <div class="text-right">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>