<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to ideas_path, class: "navbar-brand mr-auto" do %>
    Ideas
    <% end %>
    <%= link_to new_idea_path, class: "btn btn-primary" do %>
    <i class="fas fa-plus"></i> New Idea
    <% end %>
  </div>
</nav>

<section class="container my-4">
  <table class="table border bg-white">
    <thead>
      <tr>
        <div scope="col">Title</div>
        <th scope="col">Status</th>
        <th scope="col">Nice</th>
        <th scope="col">Important</th>
        <th scope="col">Critical</th>
        <th scope="col">Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @ideas.each do |i| %>
        <th class="d-flex align-items-center" scope="row">
          <div class="bg-success text-white text-center rounded p-1 mr-2"
            style="width:30px;">
            TI
          </div>
          <%= link_to i.title, edit_idea_path(i.id), class: "text-dark" %>
          <% end %>
        <td class="text-info">
          <i class="fas fa-circle"></i> PLANNED
        </td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
</section>