<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to ideas_path, class: "navbar-brand mr-auto" do %>
    Ideas
    <% end %>
    <%= link_to new_idea_path, class: "btn btn-primary" do %>
    <i class="fas fa-plus"></i> New Idea
    <% end %>
  </div>
</nav>

<section class="container my-4">
  <table class="table border bg-white">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Nice</th>
        <th scope="col">Important</th>
        <th scope="col">Critical</th>
        <th scope="col">Votes</th>
      </tr>
    </thead>
    <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td class="d-flex align-items-center" scope="row">
          <div class="bg-success text-white text-center rounded p-1 mr-2" style="width:30px;">
            TI
          </div>
            <%= link_to idea.title, edit_idea_path(idea), class: "text-dark" %>
        </td>
        
        <td class="text-info">
          <i class="fas fa-circle"><%= idea.current_status %></i> 
        </td>     
        <td><%#= idea.vote.nice %></td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

