<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to staff_index_path, class: "navbar-brand" do %>
      New Staff
    <% end %>
  </div>
</nav>

<section class="container my-4">
  <%= render "form" %>
</section>
