<div class="card my-3">
  <div class="card-body">
    <h5>Communicate with customers on the Portal</h5>
    <p>
      <span class="text-orange"><i class="fas fa-circle"></i> BUILDING</span>
      <span class="text-muted ml-3"><i class="far fa-user"></i> 9 VOTES</span>
    </p>
    <div class="d-flex align-items-start">
      <img src="https://via.placeholder.com/30" alt="Jeremias profile" class="mr-2" />
      <div>
        <p><strong>Jeremias Romero</strong><span class="text-muted"> - Posted on Jan 2019</span></p>
        <p>Sometimes when the customers submit a vote, they don't provide enough information. It could be helpful to be able to ask for more details or otherwise reply directly to a user's idea, feedback, or request.</p>
      </div>
    </div>
  </div>

  <%= render "feedback_form" %>
</div>
