<div>
  <p class="text-muted"><strong>Categories</strong></p>
  <nav class="nav nav-pills flex-column">
    <a class="d-flex nav-link active" href="#">All Categories <span class="ml-auto">32</span></a>
    <a class="d-flex nav-link" href="#">Feature Requests <span class="ml-auto">21</span></a>
    <a class="d-flex nav-link" href="#">Bugs <span class="ml-auto">11</span></a>
  </nav>
</div>
