<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalTitle">Last step! Confirm your email...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-primary"><i class="far fa-envelope" style="font-size:4rem;"></i></p>
        <p>
          To submit your idea, click the link we sent to:<br>
          <strong>demo@example.com</strong>
        </p>
      </div>
    </div>
  </div>
</div>
