<div class="card mb-3">
  <div class="card-body">
    <p class="text-muted">Have something on your mind? Let us know we really want to hear what you have to say!</p>
    <button class="btn btn-primary w-100" data-toggle="modal" data-target="#newIdeaForm">
      Submit new idea
    </button>
  </div>
</div>

<%= render "modal_new_idea" %>
