<table class="table border bg-white mt-3">
  <thead>
    <tr>
      <th scope="col">Feedback</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
  
    <% @customer_feedback.each do |c_f| %>
    <tr>
      <td class="align-middle">
        <%= image_tag "icons/smile", alt: "smile emoji", width: 28, height: 28, class: "mr-1" %>
        <%= c_f.description %>
          
      </td>
      <td>
       <%= c_f.updated_at %>
      </td>
    </tr>
     <% end %>
  </tbody>
</table>
