<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to new_customer_path, class: "navbar-brand" do %>
    New Customer
    <% end %>
  </div>
</nav>

<section class="container my-4">
  <%= render "form" %>
</section>