<p><strong>Meta</strong></p>
<p>
  <i class="fas fa-clock mr-2"></i>
  Source: Public Portal
</p>
<p>
  <i class="fas fa-clock mr-2"></i>
  Customer: <%= link_to "Lucy Miller", edit_customer_path(1) %>
</p>
<p>
  <i class="fas fa-clock mr-2"></i>
  lucy+miller@example.com
</p>
<p>
  <i class="fas fa-ticket-alt mr-2"></i>
  ID: 5665
</p>
<p>
  <i class="fas fa-clock mr-2"></i>
  Added 2 hours ago
</p>
